.accountDisplayCard {
	border: none !important;
	background: transparent !important;
	margin : 0px !important;
	margin-bottom: 10px !important;
	overflow: hidden;
	padding: 0 !important;
	text-align: center;
}

.accountDisplayCard div.cursor {
	margin-bottom: 5px !important;
	padding: 5px !important;
}

.eqLogicThumbnailContainer .accountDisplayCard {
	height : 168px !important;
}

.accountDisplayCard .name {
	word-break: break-word !important;
	font-size: 12px !important;
	position: relative;
	top: 3px !important;
}

.accountDisplayCard > span.name strong {
	display: block;
	top: 3px !important;
	height : 28px !important;
	overflow: hidden;
	position: relative;
}

.accountDisplayCard img {
	max-width: 75px !important;
	min-height: 99px;
	overflow: hidden;
	vertical-align: baseline;
	width: auto !important;
}

.accountDisplayCard:not(.disableCard) {
	opacity: 1 !important;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.accountDisplayCard.disableCard,
.accountDisplayCard.disableCard > .name > .label {
	opacity: 0.4;
}

.accountDisplayCard.disableCard:hover {
	opacity: 0.8;
}

div.eqLogicDisplayCard[data-eqLogic_type=EVcharger_vehicle] img {
	min-height: auto !important;
}
